#head {
    margin: 0;
    padding: 0;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 110px;
    align-items: center;
    font-size: 30px;
    text-transform: capitalize;
    color:blue;
}

.loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 100px;
    align-items: center;
    font-size: 15px;
    
}

#lblHead{
    position:relative;
    font-size:70px;
    color:blue;
}

#Label2{
    font-size:20px;
    color:maroon;
}